html,
body {
  height: 100%;
}

:root {
  --font-h1: "Mulish", sans-serif;
}

h1 {
  font-family: var(--font-h1);
  padding-bottom:1.5rem;
  font-size:3rem;
}

.jumbotron {
  background-color:#c5ebff; 
  text-align: center;
  padding-top: 2rem;
}
#table-contents-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#table-of-contents-text {
  padding-top:2rem;
  padding-bottom: 1rem;
  font-size: 2.75rem;
  
}


#second-col {
  text-align: center;
}

.list-group {
  font-size: 1.3rem;
}

.list-group-item {
  padding: 1.5rem;
  font-size: 2rem;
}

.fourth {
  text-align: center;
}

.col {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#section-table-contents {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffe5b4;
}

#desc-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #c5ebff;
  max-height: 100%;
  max-width: 100%;
  
}
#install-usage-sect {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #c5ebff;
}
.install{
  max-height: 100%;
  max-width: 100%;
 width:75%;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-top:2rem;
  padding:1rem;
}
#install-title{
  margin-top:2rem;
  font-size: 2.5rem;
}
#usage-title{
  font-size: 2.5rem;
  margin-top:2rem;
}
#contrib-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffe5b4;
  text-align:center;
}
.container-desc {
  font-size: 2rem;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 50rem;
  margin: 0 auto;
  padding: 1rem;
}

.container-sect {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}


.container-tests {
  margin-top:5rem;
  max-height: 100%;
  max-width: 100%;
  width:75%;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding:1rem;
  
}

.container-install {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
.usage {
  max-height: 100%;
  max-width: 100%;
 width:75%;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-top:2rem;
  padding:1rem;
 
}

.container-contribute {
  margin-top:5rem;
  max-height: 100%;
  max-width: 100%;
  width:75%;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-width: 1px;
 margin-left:10%;
 padding:1rem;
 
 
}
.questions-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:#ffe5b4;
  max-height: 100%;
  max-width: 100%;
  padding-top:3rem;
}


#questions-title {
  font-size:2.5rem;
}
.container-questions{
  font-size: 2rem;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 40rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding:1rem;
}

.align-center{
  align-items: center;
  justify-content: center;
  margin-top:10rem;
}

#desc-link{
  display: inline-block;
  margin-bottom: 1rem;
}

#desc-title{
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size:2rem;
  
}

#row-contribute{
  display: flex;
  flex-direction: row;
}
#contrib-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-size:2.5rem;
}
#test-title{
  display: flex;
  flex-direction: row;
  margin-top:2rem;
  font-size:2.5rem;
  align-self:center;
}
 #desc-title{
  font-size:3rem;
}

#contrib-text,
#usage-text,
#test-text,
#install-text{
  font-size: 1.5rem;
}