:root {
  --font-h1: "Mulish", sans-serif;
 
}

h1 {
  font-family: var(--font-h1);
  font-size: 3rem;
}

#table-contents-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: var(--text-center);
}
#table-of-contents-text {
  font-size: 3rem;
}
.jumbotron-fluid {
  text-align: center;
  padding-top: 2rem;
}

#second-col {
  text-align: center;
}

.list-group {
  font-size: 1.3rem;
}

.list-group-item {
    padding:1.5rem;
    font-size: 2rem;
}

.fourth {
    text-align: center;
}

.col {

    display: flex;
    flex-direction: column;
    text-align:center;
}